body {
    background-color: white;
    margin-left: 2px;
    margin-right: 2px;
}

.header {
    margin-bottom: 0px;
    font-size: 3vh;
}

.header1 {
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 3vh;
    color: orange;
    text-align: center;
}

a {
    color: orange;
    font-size: 2vh;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


li {
    list-style: none;
}

#appbar {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid black;
    background-color: white;
}

.home:enabled {
    height: 9vh;
    width: auto;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}



.all {
    width: auto;
    height: 10vh;
    margin: 1vh;
    display: flex;
    justify-content: space-around;
}

.it,
.computer,
.electrical,
.civil,
.mechanical {
    border: 2px solid orange;
    border-radius: 20px;
    width: 9vh;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: auto;
    color: white;
    flex-wrap: wrap;
    font-size: 2vh;
    /* background-color: orange; */
    background: linear-gradient(to top, orange 50%, rgba(255, 134, 4, 0.585));

    box-shadow: 0px 3px rgb(176, 115, 2);
    font-weight: bold;


    transition: all;
}

.mechanical,
.computer {
    font-size: 1.5vh;
    font-weight: bold;
}

.it:hover,
.civil:hover,
.computer:hover,
.electrical:hover,
.mechanical:hover {
    box-shadow: 0px 3px 5px rgb(176, 115, 2);
    background: linear-gradient(to bottom, orange 80%, rgba(255, 134, 4, 0.585));

}

.itimg {
    width: 5vh;
    height: 5vh;
}

.commoncard,
.commoncard2 {
    width: auto;
    height: 28vh;
    /* border: 2px solid orange; */
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.english,
.maths,
.es,
.ap {
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.imgc {
    width: 17vh;
    height: 17vh;
}

.recimg {
    width: 20vh;
    height: 20vh;
    transition: all;
    transition-duration: 0.5s;
    border-radius: 30px;
}

.recommian {
    background-color: white;
    width: 25vh;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    flex-direction: row;
}

.csn {
    color: orange;
    font-size: 2vh;
    display: flex;
    flex-wrap: wrap;
}

.branch {
    font-size: 1.5vh;
    color: black;
}

.column {
    margin-left: 4vh;
    flex-wrap: wrap;
    
}


@media(max-width:2000px) and (min-width:900px) {
    a {
        font-size: 3vh;
    }


    .imgc {
        width: 25vh;
        height: 25vh;
    }

    .csn {
        font-size: 3vh;
    }

    .branch {
        font-size: 2vh;
    }

    .es {
        margin-left: 2vh;
    }


    .it,
    .computer,
    .electrical,
    .civil,
    .mechanical {
        width: 25vh;
        font-size: 3vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background: linear-gradient(to left, orange 50%, rgba(255, 134, 4, 0.585));
    }

    .it:hover,
    .civil:hover,
    .computer:hover,
    .electrical:hover,
    .mechanical:hover {
        box-shadow: 0px 3px 5px rgb(176, 115, 2);
        background: linear-gradient(to right, rgba(255, 134, 4, 0.585), orange 80%, rgba(255, 134, 4, 0.585));

    }




}

@media(max-width:1500px) and (min-width:900px) {

    .it,
    .computer,
    .electrical,
    .civil,
    .mechanical {
        width: 17vh;
        font-size: 2.5vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .mechanical {
        font-size: 2.1vh;
    }
}

@media(max-width:900px) and (min-width:550px) {
    .imgc {
        width: 23vh;
        height: 23vh;
    }

    .csn {
        font-size: 3vh;
    }

    .it,
    .computer,
    .electrical,
    .civil,
    .mechanical {
        width: 12vh;
        font-size: 2vh;
    }

}

@media(max-width:550px) and (min-width:00px) {

    .imgc {
        width: 20vh;
        height: 20vh;
    }
}


@media(max-width:500px) {



    .commoncard {
        width: 42vh;
    }



    .english,
    .maths,
    .es {
        width: 15vh;
        height: 25vh;
    }


    .it,
    .computer,
    .electrical,
    .civil,
    .mechanical {
        width: 8vh;
        font-size: 1.5vh;
    }


}