* {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin-left: 2px;
    margin-right: 2px;
    overflow: h;

    scroll-behavior: smooth;
}

.header {
    margin-bottom: 0px;
    font-size: 3vh;
}

.header1 {
    margin-bottom: 0px;
    margin-top: 20px;
    font-size: 3vh;
    color: orange;
    text-align: center;
}

a {
    font-size: 2vh;
    font-weight: bold;
    color: orange;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


li {
    list-style: none;
}

#appbar {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid black;
    background-color: white;
}

.home {
    color: black;
}

#active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vh;
    height: 125%;
    margin-top: 2px;
    text-decoration: 3px solid black overline;
}


.all {
    width: auto;
    height: 10vh;
    margin: 1vh;
    display: flex;
    justify-content: space-around;
}

hr {
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 99%;
    height: 2px;
    background-color: orange;
    border: 1px solid orange;
}

.it,
.computer,
.electrical,
.civil,
.mechanical {
    border: 2px solid orange;
    border-radius: 20px;
    width: 9vh;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: auto;
    color: white;
    flex-wrap: wrap;
    font-size: 2vh;
    background: linear-gradient(to top, orange 50%, rgba(255, 134, 4, 0.585));
    box-shadow: 0px 3px rgb(176, 115, 2);
    font-weight: bold;
    transition: all;
}

.mechanical,
.computer {
    font-size: 1.5vh;
    font-weight: bold;
}

.it:hover,
.civil:hover,
.computer:hover,
.electrical:hover,
.mechanical:hover {
    box-shadow: 0px 3px 5px rgb(176, 115, 2);
    background: linear-gradient(to bottom, orange 80%, rgba(255, 134, 4, 0.585));

}

.itimg {
    width: 5vh;
    height: 5vh;
}

.recommian {
    background-color: white;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    flex-direction: row;
}

.reccontent {
    padding: 10px;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.recimg {
    width: 30vh;
    height: 29vh;
    transition: all;
    transition-duration: 0.5s;
    border-radius: 30px;
}

.recimg:hover {
    cursor: pointer;
}



a {
    color: black;
}

.align {
    display: flex;
    flex-direction: column;
    padding: 2px;
    align-items: flex-start;
    justify-content: start;
}

.recbookname {
    font-weight: bold;
    font-size: 2.5vh;
    color: orange;
}

.desc {
    text-align: start;
    font-size: 24px;
    color: orange;
}

.desc2 {
    font-size: 25px;
}

.desc3 {
    font-size: 22px;
}

.desc4 {
    color: orange;
    font-size: 22px;
}

.recopenbtn {
    margin-top: 5px;
    width: 15vh;
    height: 4vh;
    background-color: orange;
    border: navajowhite;
    border-radius: 5px;
    font-size: 2vh;
    cursor: pointer;
    transition: all;
    transition-duration: 0.5s;
}

.recopenbtn:hover {
    box-shadow: 10px 0px 10px orange;
    background-color: transparent;
    border: 1px solid orange;
}

.foottext {
    text-align: center;
    margin-top: 5px;
    color: rgb(128, 128, 128, 0.5);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}




@media(max-width:2000px) and (min-width:900px) {
    a {
        font-size: 3vh;
    }

    .it,
    .computer,
    .electrical,
    .civil,
    .mechanical {
        width: 25vh;
        font-size: 3vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background: linear-gradient(to left, orange 50%, rgba(255, 134, 4, 0.585));
    }

    .it:hover,
    .civil:hover,
    .computer:hover,
    .electrical:hover,
    .mechanical:hover {
        box-shadow: 0px 3px 5px rgb(176, 115, 2);
        background: linear-gradient(to right, rgba(255, 134, 4, 0.585), orange 80%, rgba(255, 134, 4, 0.585));

    }
}

@media(max-width:1500px) and (min-width:900px) {

    .it,
    .computer,
    .electrical,
    .civil,
    .mechanical {
        width: 17vh;
        font-size: 2.5vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .mechanical {
        font-size: 2.1vh;
    }
}

@media(max-width:900px) and (min-width:550px) {

    .it,
    .computer,
    .electrical,
    .civil,
    .mechanical {
        width: 12vh;
        font-size: 2vh;
    }
}



@media(max-width:557px) {

    .recmainheader {
        font-size: 30px;
        margin-right: px;
    }

    .reccontent {
        width: 20vh;
        margin-top: 10px;
        align-items: flex-start;
    }

    .recopenbtn {
        margin-left: 30px;

    }

    .recimg {
        width: 20vh;
        height: 20vh;
    }

    .recbookname {
        font-size: 17px;

        margin-left: 30px;
    }

    .recopenbtn {
        height: 3.5vh;
        width: 10vh;
    }

    .desc {
        margin-top: 2px;
        margin-left: 30px;

        font-size: 15px;
    }
    
    .desc2 {
        color: black;
        margin-left: 30px;
        text-align: start;
        font-size: 15px;
    }

    .desc3 {
        margin-left: 30px;
        text-align: start;
        font-size: 15px;
    }
    
    .desc4 {
        font-size: 15px;
        margin-left: 30px;
        text-align: start;

    }

    .english,
    .maths,
    .es {
        width: 15vh;
        height: 25vh;
    }

    .it,
    .computer,
    .electrical,
    .civil,
    .mechanical {
        width: 8vh;
        font-size: 1.5vh;
    }
}