main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

label {
    color: orange;
    font-size: 20px;
    text-align: start;
    min-width: 90px;
}

select {
    min-width: 300px;
    max-width: 300px;
    margin-right: 10px;
    height: 50px;
    border: 2px solid orange;
    border-radius: 10px;
}

.drp0808 {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.row {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px 10px;
    flex-wrap: wrap;
    height: auto;
    text-align: start;

}

input {
    width: 180px;
    color: black;
    background-color: orange;
    height: 50px;
    border-radius: 8px;
    margin-top: 10px;

}

section {
    margin-top: 30px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.contentrow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin: 10px 0px;
}

.contenthh {
    color: orange;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 80%;

    margin: 10px 0px;
}
th{
    color: orange;
}
tr{
    color: black;

}
td,
th {
    border: 2px solid #ffa200;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color:rgba(220, 220, 220, 0.714);
}
tr:nth-child(odd) {
    background-color:rgb(255, 255, 255);
}